body {
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: rgb(233, 223, 233);
}

header {
	background-color: #7a207a;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}

.logo {
	font-size: 1.5rem;
	text-decoration: none;
	color: #fff;
	font-style: italic;
	font-weight: bold;
}

main {
	max-width: 800px;
	margin: 2em auto;
	text-align: center;
}

.product-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: 580px;
	grid-gap: 2em;
}

.product-list li {
	border: 1px solid #ccc;
	padding: 1em;
}

.product-list img {
	max-width: 100%;
	height: 50%;
}

.product-list h3 {
	margin-top: 0;
	margin-bottom: 0.5em;
}

.product-list .product-price {
	font-weight: bold;
}

.add-to-cart,
.remove,
.closeModal {
	display: block;
	border: none;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	background-color: #333;
	color: #fff;
	padding: 1rem 0.8rem;
	text-decoration: none;
	transition: background-color 0.2s ease;
}
.remove {
	margin-top: 0;
	margin-bottom: auto;
	margin-right: 0;
}

.add-to-cart:hover,
.remove:hover,
.closeModal:hover {
	background-color: #dde931;
}

footer {
	border-top: 1px solid #aa87b3;
}

footer p {
	text-align: center;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(204, 204, 204, 0.5);
}

.productsCart li {
	border-bottom: 1px solid #333;
	padding: 1rem;
	display: flex;
	list-style: none;
	margin-left: auto;
	margin-right: auto;
}

.productContent {
	padding-left: 1rem;
}

.productsCart img {
	display: block;
	width: 80px;
	height: auto;
	object-fit: contain;
}

.empty {
	font-size: 2rem;
	text-transform: uppercase;
	text-align: center;
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	font-family: sans-serif;
  }
  
  .container {
	display: flex;
	flex-direction: row;
  }
 
  
  .content {
	width:30%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #f2796e;
	width: 55%;
	min-height: 100vh;
	padding: 10px 20px;
  }
  
  .image {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	/* border: 2px solid black; */
	height: 65%;
  }
  
  .text {
	text-align: center;
	color: white;
	font-size: 18px;
  }
  

  
  form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	/* max-width: 400px; */
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	padding: 0px;
	left: 300px;
  }
  
  .title {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
  }
  
  form div input {
	width: 100%;
	height: 40px;
	border-radius: 8px;
	outline: none;
	border: 2px solid #c4c4c4;
	padding: 0 30px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  label {
	display: block;
	margin-bottom: 5px;
  }
  
  form div {
	position: relative;
	margin-bottom: 15px;
  }
  
  input:focus {
	border: 2px solid #f2796e;
  }
  
  
  
  .btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 15px;
  }
  
  .btn-1,
  .btn-2 {
	padding: 10px 5px;
	width: 100%;
	display: flex;
	gap: 15px;
	justify-content: center;
	align-items: center;
	border: 2px solid #c4c4c4;
	border-radius: 8px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	cursor: pointer;
  }
  
  .btn-2 {
	background-color: #4f70b5;
	color: white;
	border: 2px solid #4f70b5;
  }
  
  .or {
	text-align: center;
  }
  
  .question {
	font-size: 15px;
  }
  
  span {
	color: #f2796e;
	cursor: pointer;
  }
  
  
  
  form div i {
	position: absolute;
	padding: 10px;
  }
  
  .success-icon,
  .failure-icon {
	right: 0;
	opacity: 0;
  }
  
  .failure-icon,
  .error {
	color: red;
  }
  
  .success-icon {
	color: green;
  }
  
  .error {
	font-size: 14.5px;
	margin-top: 5px;
  }
 
  
  button {
	margin-top: 15px;
	width: 100%;
	height: 45px;
	background-color: #f2796e;
	border: 2px solid #f2796e;
	border-radius: 8px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	transition: all 0.1s ease;
  }
  
  button:hover {
	opacity: 0.8;
  }
  
  
  @media (max-width: 900px) {
	.container {
	  flex-direction: column;
	}
  
	form,
	.content {
	  width: 100%;
	}
  
	.btn {
	  flex-direction: column;
	}
	.image {
	  height: 70vh;
	}
  }
  
  @media (max-width: 425px) {
	form {
	  padding: 20px;
	}
  }
  